
        <section id="why-us" class="why-us">
            <div class="container">
      
              <div class="row">
                <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                  <div class="content">
                    {% if LANGUAGE_CODE == 'ar' %}
                    <h3>{{ content.why_us_title_ar | safe }}</h3>
                    <p>
                        {{ content.why_us_description_ar | safe }}
                    </p>
                    <div class="text-center">
                      <a href="{% url 'about-page' %}" class="more-btn">المزيد <i class="bx bx-chevron-right"></i></a>
                    </div>
                    {% else %}
                    <h3>{{ content.why_us_title_en | safe |capfirst }}</h3>
                    <p>
                        {{ content.why_us_description_en | safe |capfirst }}
                    </p>
                    <div class="text-center">
                      <a href="{% url 'about-page' %}" class="more-btn">Learn more <i class="bx bx-chevron-right"></i></a>
                    </div>

                    {% endif %}
                  </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                  <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                      <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-receipt"></i>
                          {% if LANGUAGE_CODE == 'ar' %}
                          <h4>{{ content.first_reason_ar | safe }}</h4>
                          <p>{{ content.first_reason_description_ar | safe }}</p>
                          {% else %}
                          <h4>{{ content.first_reason_en | safe |capfirst }}</h4>
                          <p>{{ content.first_reason_description_en | safe |capfirst }}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-cube-alt"></i>
                          {% if LANGUAGE_CODE == 'ar' %}
                          <h4>{{ content.second_reason_ar | safe }}</h4>
                          <p>{{ content.second_reason_description_ar | safe }}</p>
                          {% else %}
                          <h4>{{ content.second_reason_en | safe |capfirst }}</h4>
                          <p>{{ content.second_reason_description_en | safe |capfirst }}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box mt-4 mt-xl-0">
                          <i class="bx bx-images"></i>
                          {% if LANGUAGE_CODE == 'ar' %}
                          <h4>{{ content.third_reason_ar | safe }}</h4>
                          <p>{{ content.third_reason_description_ar | safe }}</p>
                          {% else %}
                          <h4>{{ content.third_reason_en | safe |capfirst }}</h4>
                          <p>{{ content.third_reason_description_en | safe |capfirst }}</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </section>