
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        {% if LANGUAGE_CODE == 'ar' %}
        <h2 data-aos="fade-up">إتصل بنا</h2>
{% else %}
<h2 data-aos="fade-up">Contact</h2>
{% endif %}

      </div>

      <div class="row justify-content-center">

        <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            
            {% if LANGUAGE_CODE == 'ar' %}
                        <h3>العنوان</h3>
                        <p class="text-bold">{{ content.address_ar |safe }}</p>

                    {% else %}
                        <h3>Address</h3>
                        <p class="text-bold">{{ content.address_en |safe|capfirst }}</p>
                    {% endif %}
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            {% if LANGUAGE_CODE == 'ar' %}
            <h3>البريد اللألكترونى</h3>

        {% else %}
            <h3>Email</h3>

        {% endif %}
        <p><a href="mailto:{{ content.email }}">{{ content.email }}</a></p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            {% if LANGUAGE_CODE == 'ar' %}
            <h3>الهاتف</h3>
        {% else %}
        <h3>Call Us</h3>
        {% endif %}
        <p>{{ content.mobile | safe }}</p>
        <p>{{ content.other_phone | safe }}</p>
          </div>
        </div>
      </div>

    </div>
  </section>