{% extends 'flex_main.html' %}

{% block content %}
{% include 'main/homepage/_HelloIntro.html' with content=content %}

<main id="main">
{% include 'main/homepage/_DescriptionHomePage.html' with content=content %}
{% include 'main/homepage/_clients.html' with content=content %}
{% include 'main/homepage/_Categories.html' with content=content %}
{% include 'main/homepage/_Staff.html' with content=content %}
{% include 'main/homepage/_showhome.html' with content=content %}
{% include 'main/homepage/_faqs.html' with content=content %}
{% include 'main/homepage/_Map.html' with content=content %}
</main>
{% endblock content %}