<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@yellowspace.com">info@yellowspace.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>

      <div class="cta d-none d-md-flex align-items-center">
        {% if LANGUAGE_CODE == 'ar' %}
        <a href="{% url 'contact-page' %}" class="scrollto">إتصل بنا</a>
        {% else %}
        <a href="{% url 'contact-page' %}" class="scrollto">Contact Us</a>
        {% endif %}
      </div>
    </div>
  </section>