
{% load crispy_forms_tags %}
{% load static %}
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        {% if LANGUAGE_CODE == 'ar' %}
        <h2 data-aos="fade-up">{{content.head_ar | safe }}</h2>
         <p data-aos="fade-up" data-aos-delay="100">{{ content.description_ar | safe }} </p>
{% else %}
<h2 data-aos="fade-up">{{content.head_en | safe }}</h2>
<p data-aos="fade-up" data-aos-delay="100">{{ content.description_en | safe }} </p>
{% endif %}
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
        <div class="col-xl-9 col-lg-12 mt-4">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            {{ form|crispy }}
            {% if LANGUAGE_CODE == 'ar' %}
            <div class="text-center"><button type="submit">إرسال</button></div>
            {% else %}
            <div class="text-center"><button type="submit">Send </button></div>
            {% endif %}
          </form>
        </div>

      </div>

    </div>
  </section>