
         <div class="col-lg-8 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="{{content.image_1_url}}" alt="" class="img-fluid">
            </div>
            {% if LANGUAGE_CODE == 'ar' %}
            <h2 class="entry-title">
              <a href="{% url 'blog-detail' content.pk %}">{{content.wood_name_ar | safe}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog-detail' content.pk %}"><time datetime="{{ content.publication_date }}">{{ content.publication_date }}</time></a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{content.description_1_ar | safe }}
              </p>
              <blockquote>
                <p>
                  {{content.description_2_ar | safe }}
                </p>
              </blockquote>

              <p>
                {{content.description_3_ar | safe }}
              </p>
              <img src="{{ content.image_2_url }}" class="img-fluid" alt="">
              <p>
                {{content.description_4_ar | safe }}
              </p>
              <img src="{{ content.image_3_url }}" class="img-fluid" alt="">
               {% else %}
               <h2 class="entry-title">
                <a href="{% url 'blog-detail' content.pk %}">{{content.wood_name_en | safe}}</a>
              </h2>
  
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{% url 'blog-detail' content.pk %}"><time datetime="{{ content.publication_date }}">{{ content.publication_date }}</time></a></li>
                </ul>
              </div>
  
              <div class="entry-content">
                <p>
                  {{content.description_1_en | safe }}
                </p>
                <blockquote>
                  <p>
                    {{content.description_2_en | safe }}
                  </p>
                </blockquote>
  
                <p>
                  {{content.description_3_en | safe }}
                </p>
                <img src="{{ content.image_2_url }}" class="img-fluid" alt="">
                <p>
                  {{content.description_4_en | safe }}
                </p>
                <img src="{{ content.image_3_url }}" class="img-fluid" alt="">

               {% endif %}
            </div>
          </article><!-- End blog entry -->
        </div>