{% extends 'flex_main.html' %}
{% load static %}
{% block content %}
<main id="main">
{% include 'furniture/blog/detail/_breadcrumbs.html' with content=object%}
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">
        {% include 'furniture/blog/detail/_detailShowdata.html' with content=object %}
        {% include 'furniture/blog/list/_blogIntro.html' with content=content cats=cats %}
      </div>
    </div>
</section>

</main>
{% endblock content %}
    