{% extends 'masterpage.html' %}
{% load static %}

{% block content %}
{% include 'furniture/blog/detail/_detailShowRoom.html' with content=object %}
{% include 'furniture/blog/detail/_detailShowdata.html' with content=object %}


    
{% endblock content %}


{% block scripts %}
<script>
$(()=> {
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:5,
                nav:true,
                loop:false
            }
        }
    })
});

</script>

{% endblock scripts %}


