
<div class="col-lg-4">

  <div class="sidebar">

    {% if LANGUAGE_CODE == 'ar' %}
    <h3 class="sidebar-title">التصنيفات</h3>
    {% else %}
    <h3 class="sidebar-title">Categories</h3>
    {% endif %}
    <div class="sidebar-item categories">
      <ul>
        {% for cat in cats %}
        {% if LANGUAGE_CODE == 'ar' %}
        <li><a href="{% url 'blog-cat-detail' cat.pk %}">{{ cat.name_ar | safe }} <span>({{ cat.cats.all.count }})</span></a></li>
        {% else %}
        <li><a href="{% url 'blog-cat-detail' cat.pk %}">{{ cat.name_en | safe }} <span>({{ cat.cats.all.count }})</span></a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div><!-- End sidebar categories-->
    {% if LANGUAGE_CODE == 'ar' %}
    <h3 class="sidebar-title">أحدث المقالات </h3>
{% else %}
<h3 class="sidebar-title">Recent Posts</h3>

    {% endif %}
    <div class="sidebar-item recent-posts">
      {% for blog in content.blogs  %}
      <div class="post-item clearfix">
        <img src="{{ blog.image_1_url }}" alt="">
        {% if LANGUAGE_CODE == 'ar' %}
        <h4><a href="{% url 'blog-detail' blog.pk %}">{{blog.wood_name_ar | safe }}</a></h4>
       {% else %}
       <h4><a href="{% url 'blog-detail' blog.pk %}">{{blog.wood_name_en | safe }}</a></h4> 
        {% endif %}

        <time datetime="{{ blog.publication_date }}">{{ blog.publication_date }}</time>
      </div>
      
      {% endfor %}
    </div><!-- End sidebar recent posts-->
  </div><!-- End sidebar -->

</div>


