<div class="col-lg-8">
    <div class="portfolio-details-slider swiper">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide">
          <img src="{{ object.picture_1_url }}" alt="">
        </div>

        <div class="swiper-slide">
          <img src="{{ object.picture_2_url }}" alt="">
        </div>

        <div class="swiper-slide">
          <img src="{{ object.picture_3_url }}" alt="">
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>